/*****************************************
 * 
 * Contribution to code made by: 
 * Drishya Regmi
 * 
 *****************************************/
.pixel {
    position: fixed;
    transition: all 0.1s ease-out;
    /* transition: transform 0.05s linear; */
    width: 80px;
    height: auto;
    pointer-events: none;
    transform: translate(-50%, -50%);
}