
@media (prefers-color-scheme: dark) {
    div.transport button {
        background-color: white;
        color: black
    }
    div.volume-row label {
        color: white
    }
    div.canvas-row button {
        background-color: white;
        color: black
    }
    div.now-playing {
        color: white
    }
    div.seek-row {
        color: white
    }
}

@media (prefers-color-scheme: light) {
    div.transport button {
        background-color: black;
        color: white
    }
    div.volume-row label {
        color: black
    }
    div.canvas-row button {
        background-color: black;
        color: white
    }
    div.now-playing {
        color: black
    }
    div.seek-row {
        color: black
    }
}