#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* @media (prefers-color-scheme: light){
.title {
  font-size: 500%;
  font-weight: 1000;
  text-transform: uppercase;
  background: url(./assets/light.jpg) 50% 20%;
  background-size: cover;
  -webkit-text-fill-color:transparent;
  -webkit-background-clip:text;
  -webkit-text-stroke: 1px black;
}
.login-button {
  text-transform: uppercase;
  background: url(./assets/light.jpg) 50% 20%;
  background-size: cover;
  font-weight: 1000;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
}
}

@media (prefers-color-scheme: dark){
  body {
    background-color: black;
  }
.title {
  font-size: 500%;
  font-weight: 1000;
  text-transform: uppercase;
  background: url(./assets/dark.jpg) 50% 50%;
  background-size: cover;
  -webkit-text-fill-color:transparent;
  -webkit-background-clip:text;
  -webkit-text-stroke: 1px white;
}
.login-button {
  text-transform: uppercase;
  background: url(./assets/dark.jpg) 50% 50%;
  background-size: cover;
  font-weight: 1000;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-text-stroke: 0.5px black;
}
} */

@media (prefers-color-scheme: dark) {
  body {
    background-image: url(./assets/dark.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: url(./assets/firefly1.png), auto;
  }
  .title {
    font-size: 400%;
    font-weight: 1000;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 1px black; 

  }
  .login-button {
    font-weight: 1000;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px 1px black; 
    background-color: transparent;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-image: url(./assets/light.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: url(./assets/butterfly.png), auto;
  }
  .title {
    font-size: 400%;
    font-weight: 1000;
    text-transform: uppercase;
    color: black;
    text-shadow: 1px 1px 1px white; 
  }
  .login-button {
    font-weight: 1000;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    text-shadow: 1px 1px 1px white; 
    background-color: transparent;
  }
}